@media  (max-width: 1200px){
	
}
@media  (max-width: 991px){
	div.container{
		max-width: 760px;
	}
	h1.promo__header{
		font-size: 37px;
	}
	h2.promo__subheader{ 
		font-size: 22px;
	}
	button.button_main{
		width: 265px;
		font-size: 15px;
	}
	h2.benefits__title{
		font-size: 27px;
	}
	.consultation{
		h2.title{
			font-size: 29px;
		}
		div.consultation__descr{
			font-size: 18px;
		}
		form.feed-form{
			input{
				width: 276px;
				height: 45px;
				font-size: 13px;
			}
			button.button_submit{
				width: 276px;
				height: 45px;
				font-size: 15px;
			}
		}
	}
	.carousel{
		.tns-nav{
			[data-nav="0"]{
				width: 19px;
				height: 19px;
				border-radius: 100%;
				border: 1px solid black;
				transition: 0.5s;
				position: absolute;
				bottom: -20px;
				left: 44%;
				&:active{
					background-color: #4169E1;
				}
				&:focus{
					background-color: #4169E1;
				}
			}
			[data-nav="1"]{
				width: 19px;
				height: 19px;
				border-radius: 100%;
				border: 1px solid black;
				transition: 0.5s;
				position: absolute;
				bottom: -20px;
				left: 48%;
				&:active{
					background-color: #4169E1;
				}
				&:focus{
					background-color: #4169E1;
				}
			}
			[data-nav="2"]{
				width: 19px;
				height: 19px;
				border-radius: 100%;
				border: 1px solid black;
				transition: 0.5s;
				position: absolute;
				bottom: -20px;
				left: 52%;
				&:active{
					background-color: #4169E1;
				}
				&:focus{
					background-color: #4169E1;
				}
			}
		}
		.prev{
			display: none;
			}
			.next{
				display: none;
			}
		.tns-item{
			img{
				width: 70%;
			}
		}
	}
	.catalog{
		h2.title{
			font-size: 28px;
		}
		li.catalog__tab{
			width: 210px;
			height: 48px;
			div{
				font-size: 17px;
			}
			&:hover{
				box-shadow: 3px 3px 20px black;
				border: none;
				width: 220px;
			}

		}
		div.catalog__content{
			justify-content: center;
			div.catalog-item{
				margin-top: 0;
				margin-right: 20px;
				margin-top: 20px;
				&:nth-child(-n+2){
					margin-top: 0;
				}
			}
		}
		


	}		
}
	
@media (max-width:767px){
	div.container{
		max-width:570px;
	}
	header.header{

	
		
		div.header__logo{
			width: 196px;
		}
		div.header__official{
			font-size: 11px;
			span.header__span{
				font-size: 18px;
			}
		}
		a.header__phone{
			font-size: 16px;
		}
		button.button{
			width: 115px;
			height: 23px;
			font-size: 9px;
		}
	}
	h1.promo__header{
		font-size: 31px;
	}
	h2.promo__subheader{
		font-size: 18px;
	}
	div.promo__icon{
		font-size: 12px;
	}
	img.promo_icon{
		width: 28%;
		
	}
	div.promo__icons {
		width: 404px;
		margin-top: 40px;

	}
	button.button_main{
		width: 215px;
		font-size: 14px;
	}
	div.promo__link{
		a{
			font-size: 14px;
		}
		
	}
	div.benefits{
		h2.benefits__title{
			font-size: 22px;
		}
		div.benefits__wrapper{
			display: flex;
			flex-direction: column;
		}
		div.benefits__item{
			margin: 0 auto;
		}
	}
	.consultation{
		h2.title{
			font-size: 22px;
		}
		div.consultation__descr{
			font-size: 16px;
		}
		form.feed-form{
			input{
				width: 252px;
				height: 40px;
				font-size: 11px;
			}
			button.button_submit{
				width: 252px;
				height: 40px;
				font-size: 14px;
			}
		}
	}
		.carousel{
			.tns-nav{
				[data-nav="0"]{
					width: 17px;
					height: 17px;
					border-radius: 100%;
					border: 1px solid black;
					transition: 0.5s;
					position: absolute;
					bottom: -20px;
					left: 41%;
					&:active{
						background-color: #4169E1;
					}
					&:focus{
						background-color: #4169E1;
					}
				}
				[data-nav="1"]{
					width: 17px;
					height: 17px;
					border-radius: 100%;
					border: 1px solid black;
					transition: 0.5s;
					position: absolute;
					bottom: -20px;
					left: 46%;
					&:active{
						background-color: #4169E1;
					}
					&:focus{
						background-color: #4169E1;
					}
				}
				[data-nav="2"]{
					width: 17px;
					height: 17px;
					border-radius: 100%;
					border: 1px solid black;
					transition: 0.5s;
					position: absolute;
					bottom: -20px;
					left: 51%;
					&:active{
						background-color: #4169E1;
					}
					&:focus{
						background-color: #4169E1;
					}
				}
			.prev{
				display: none;
			}
			.next{
				display: none;
			}
		}
	}
	.catalog{
		h2.title{
			font-size: 24px;
		}
		li.catalog__tab{
			width: 190px;
			height: 43px;
			div{
				font-size: 15px;
				line-height: 40px;
			}
			&:hover{
				box-shadow: 3px 3px 20px black;
				border: none;
				width: 200px;
				line-height: 40px;
			}


		}
		div.catalog__content{
			justify-content: center;
			div.catalog-item{
				width: 263px;
				min-height: 415px;
				margin-top: 0;
				margin-right: 20px;
				margin-top: 20px;
				&:nth-child(-n+2){
					margin-top: 0;
				}
				img.catalog-item__img{
					height: 180px;
				}
				div.catalog-item__subtitle{
					font-size: 15px;
				}
				div.catalog-item__descr{
					font-size: 13px;
				}
				div.catalog-item__link{
					font-size: 13px;
				}
				div.catalog-item__footer{
					transition: 0.5s all;
					div.catalog-item__old-price{
						font-size: 12px;
					}
					div.catalog-item__price{
						font-size: 16px;
					}
					button.button_mini{
						width: 113px;
						height: 36px;
						font-size: 13px;
					}
				}
				ul.catalog-item__list{
					width: 51%;
					
				}
				ul.catalog-item__list_active{
					li{
						font-size: 12px;
						&:before{
							width: 4px;
							height: 4px;
						}
					}
					
					

				}
				a.catalog-item__link{
						font-size: 12px;
				}
				a.catalog-item__back{
						left: 90px;
						font-size: 12px;
					}
			}
		}
	}
}
@media  (max-width: 575px){
	div.container{
		max-width: 380px;
	}
	header.header{
		div.header__logo {
			width: 171px;
		}
		img.header_logo{
			max-width:108%;
		}
		div.header__official{
			font-size: 9px;
			span.header__span{
				font-size: 15px;
			}
		}
		div.header__contacts{
			position: absolute;
			top: 60px;
			a.header__phone{
				font-size: 13px;
			}
		}
		button.button{
			position: absolute;
			left: 282px;
			width: 94px;
			height: 20px;
			font-size: 8px;
		}
	}
	div.promo__wrapper{
		margin-top: 118px;
	}
	h1.promo__header{
		font-size: 22px;
	}
	h2.promo__subheader{
		font-size: 13px;
	}
	div.promo__icons{
		width: 258px;
		align-items: center;
		margin-top: 90px;
	}
	div.promo__icon{
		font-size: 10px;
	}
	img.promo_icon{
		width: 35%;
		margin-bottom: 9px;
	}
	button.button_main{
		width: 182px;
		font-size: 12px;
		height: 41px;
		margin-top: 94px;
	}
	div.promo__link{
		margin-top: 5px;
		font-size: 13px;
		a{
			font-size: 11px;
		}
	}
	div.benefits{
		h2.benefits__title{
			font-size: 17px;
	}
	
	}
	img.benefits_icon{
		width: 20%;
	}
	div.benefits__subtitle{
		font-size: 13px;
		margin-top: 24px;
	}
	div.benefits__descr{
		font-size: 12px;
		margin-top: 18px;
	}
	.consultation{
		h2.title{
			font-size: 17px;
		}
		div.consultation__descr{
			font-size: 13px;
		}
		form.feed-form{
			input{
				width: 209px;
				height: 35px;
				font-size: 10px;
			}
			button.button_submit{
				width: 209px;
				height: 35px;
				font-size: 12px;
			}
		}
	}
	.carousel{
		position: relative;
		.tns-nav{
			[data-nav="0"]{
				width: 15px;
				height: 15px;
				border-radius: 100%;
				border: 1px solid black;
				transition: 0.5s;
				position: absolute;
				bottom: -15px;
				left: 40%;
				&:active{
					background-color: #4169E1;
				}
				&:focus{
					background-color: #4169E1;
				}
			}
			[data-nav="1"]{
				width: 15px;
				height: 15px;
				border-radius: 100%;
				border: 1px solid black;
				transition: 0.5s;
				position: absolute;
				bottom: -15px;
				left: 46%;
				&:active{
					background-color: #4169E1;
				}
				&:focus{
					background-color: #4169E1;
				}
			}
			[data-nav="2"]{
				width: 15px;
				height: 15px;
				border-radius: 100%;
				border: 1px solid black;
				transition: 0.5s;
				position: absolute;
				bottom: -15px;
				left: 52%;
				&:active{
					background-color: #4169E1;
				}
				&:focus{
					background-color: #4169E1;
				}
			}
		}
		
		.prev{
			display: none;
		}
		.next{
			display: none;
		}
	}
	.catalog{
		h2.title{
			font-size: 19px;
		}

		
		li.catalog__tab{
			width: 210px;
			height: 40px;
			
			div{

				font-size: 11px;
				line-height: 37px;
				
			}
			&:hover{	
				box-shadow: 3px 3px 20px black;
				border: none;
				width: 220px;
				
			}
		}
		div.catalog__content{
			div.catalog-item{
				margin-top: 20px;
				min-height: 412px;
				&:first-child{
					margin-top: 0;
				}
				&:nth-child(2){
					margin-top: 20px;
				}
				img.catalog-item__img{
					height: 180px;
				}
				div.catalog-item__subtitle{
					font-size: 14px;
					margin-top: 24px;
				}
				div.catalog-item__descr{
					font-size: 12px;
					margin-top: 6px;
				}
				a.catalog-item__link{
					font-size: 11px;
					margin-top: 16px;
				}
				div.catalog-item__footer{
					div.catalog-item__old-price{
						font-size: 11px;
					}
					div.catalog-item__price{
						font-size: 15px;
					}
			}
		}
	}
}
@media (max-width:380px){
	header.header{
		justify-content: space-around;
		button.button{
			position: absolute;
			left: 240px;
			width: 94px;
			height: 20px;
			font-size: 8px;
		}
	}
	img.header_logo{
		max-width: 97%;
	}
	div.header__official{
		font-size: 9px;
		span.header__span{
			font-size: 14px;
		}
	}
	div.header__contacts{
		position: absolute;
		top: 60px;
		left: 24px;
		a.header__phone{
			font-size: 11px;
		}
	}
	h1.promo__header{
		font-size: 19px;
		margin: 0 auto;
	}
	h2.promo__subheader{
		font-size: 11px;
		margin: 0 auto;
	}
	div.promo__icons{
		width: 258px;
		align-items: center;
		margin: 0 auto;
		margin-top: 90px;
	}
	button.button_main{
		width: 155px;
		font-size: 10px;
		height: 33px;
		margin: 0 auto;
		margin-top: 94px;
	}
	div.promo__link{
		margin-top: 5px;
		font-size: 11px;
		margin: 0 auto;
		margin-left: 140px;
		a{
			font-size: 10px;
		}
	}
	div.benefits{
		h2.benefits__title{
			font-size: 15px;
		}
	
	}
	div.benefits__subtitle{
		font-size: 13px;
		margin-top: 19px;
	}
	div.consultation{
		padding: 150px 0 92px 0;
		h2.title{
			font-size: 11px;
			width: 250px;
			margin: 0 auto; 

		}
		div.consultation__descr{
			font-size: 12px;
			width: 250px;
			margin: 0 auto;
			margin-top: 80px; 
		}
		form.feed-form{
			width: 250px;
			margin: 0 auto;
			margin-top: 28px;
			input{
				width: 204px;
				height: 36px;
				font-size: 10px;

			}
			button.button_submit{
				width: 204px;
				height: 36px;
				font-size: 11px;
			}
		}
	}
	.catalog{
		h2.title{
			font-size: 17px;
		}

		ul.catalog__tabs{
			width: 83%;
			margin: 0 auto;
			margin-top: 70px;
		}
		li.catalog__tab{
			width: 183px;
			height: 40px;
			div{
				font-size: 10px;
				line-height: 37px;
				
			}
			&:hover{
				box-shadow: 3px 3px 20px black;
				border: none;
				width: 220px;
				
			}
		}
		div.catalog__content{
			div.catalog-item{
				margin-top: 20px;
				min-height: 401px;
				&:first-child{
					margin-top: 0;
				}
				&:nth-child(2){
					margin-top: 20px;
				}
				img.catalog-item__img{
					height: 180px;
				}
				div.catalog-item__subtitle{
					font-size: 13px;
					margin-top: 27px;
				}
				div.catalog-item__descr{
					font-size: 11px;
					margin-top: 15px;
				}
				a.catalog-item__link{
					font-size: 10px;
					margin-top: 18px;
				}
				div.catalog-item__footer{
					div.catalog-item__old-price{
						font-size: 11px;
					}
					div.catalog-item__price{
						font-size: 14px;
					}
					button.button_mini{
						width: 100px;
						height: 32px;
						font-size: 12px;
					}
				}
				a.catalog-item__back{
						left: 90px;
						font-size: 11px;
					}
				}
			}	
		}
	}
}
	



