.benefits{
	min-height: 472px;
	padding: 70px 0 80px 0;
	background-color: #f6f6f6;
	&__title{
		font-size: 30px;
		color: #0d0d0d;
		text-align: center;

	}
	&__wrapper{
		margin-top: 64px;
		display: flex;
		justify-content: space-between;
	}
	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 238px;
		.benefits_icon_animated {
			animation: heartbeat 3s ease-in infinite;
		}
	}
	&__subtitle{
		font-size: 18px;
		color: #0d0d0d;
		font-family: "Museo Sans Cyrl";
		text-align: center;
		margin-top: 37px;
	}
	&__descr{
		font-size: 14px;
		color: #0d0d0d;
		font-family: "Museo Sans Cyrl";
		text-align: center;
		margin-top: 26px;

		}
		a{
			color: #ff0000;
			text-decoration: underline;
	}
}
