.carousel{
	padding: 81px 0;
	&__inner{
		position: relative;
		width: 750px;
		margin: 0 auto;
	}
	.prev{
		position: absolute;
		top: 40%;
			
		left: 30px;
		background-color: rgba(0, 0, 0, 0);
		border: none;
	}
	.next{
		position: absolute;
		right: 30px;
		top: 40%;
		background-color: rgba(0, 0, 0, 0);
		border: none;
	}
	.tns-item {
		img{
			display: block;
			margin: 0 auto;
		}
	}
	
}
